# Default owners
* @blockchaintp/btp-engineering

# Documentation has additional team to review
/docs/* @blockchaintp/btp-engineering @blockchaintp/btp-documentation

# Repository Admin only for .github
/.github/* @blockchaintp/repository-admin
