**/target
*.log
# Created by maven-shade
**/dependency-reduced-pom.xml

# Exclude eclipse items
**/.settings
**/.classpath
**/.project
**/.checkstyle
**/.cache-main
**/.cache-tests
**/.externalToolBuilders
**/.metals
**/.scalafmt.conf
**/.factorypath

# Exclude macOS system
.DS_Store

# Exclude vscode setting
**/.vscode
**/.bloop

# Exclude direnv envrc
.envrc

#Backups
*.bak
*.gho
*.ori
*.orig
*.tmp

#General Linux
*~

# direnv
**/.envrc

# exclude node modules
**/node_modules/

# exclude intellij items
*.iml
**/.idea

# test-dars
test-dars

# share keys folder
keys
.dccache
build/
markers
