**/target
*.log
# Created by maven-shade
**/dependency-reduced-pom.xml

# Exclude eclipse items
**/.settings
**/.classpath
**/.project
**/.checkstyle
**/.cache-main
**/.cache-tests
**/.externalToolBuilders
**/.metals

