# Copyright 2019 Blockchain Techology Partners
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

version: '2.1'

services:
  
  tracer-ui:
    build:
      context: ./tracer-ui
      dockerfile: Dockerfile
    image: tracer-ui:${ISOLATION_ID}
    container_name: tracer-ui
    entrypoint: bash -c 'yarn run develop'
    environment:
      - NODE_ENV=development
    volumes:
      - ./tracer-ui/src:/app/frontend/src
      - ./tracer-ui/config:/app/frontend/config
      - ./tracer-ui/dist:/app/frontend/dist

  sawtooth-daml-tp:
    build:
      context: .
      dockerfile: docker/sawtooth-daml-tp.docker
    image: sawtooth-daml-tp:${ISOLATION_ID}
    container_name: sawtooth-daml-tp

  sawtooth-daml-rpc:
    build:
      context: .
      dockerfile: docker/sawtooth-daml-rpc.docker
    image: sawtooth-daml-rpc:${ISOLATION_ID}
    container_name: sawtooth-daml-rpc

  sawtooth-timekeeper:
    build:
      context: .
      dockerfile: docker/timekeeper.docker
    image: timekeeper:${ISOLATION_ID}
    container_name: sawtooth-timekeeper
