# Copyright 2019 Blockchain Technology Partners
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ------------------------------------------------------------------------------

version: "2.1"

services:

  settings-tp:
    image: hyperledger/sawtooth-settings-tp:1.1
    depends_on:
      - validator
    entrypoint: settings-tp -v --connect tcp://validator:4004
    volumes:
      - /dev/urandom:/dev/random
      - /dev/urandom:/dev/urandom

  validator:
    image: hyperledger/sawtooth-validator:1.1
    expose:
      - 4004
      - 8800
      - 5050
    ports:
      - "4004:4004"
      - "8800:8800"
      - "5050:5050"
    entrypoint: "bash -c \"\
        sawadm keygen && \
        sawtooth keygen && \
        sawset genesis -k /etc/sawtooth/keys/validator.priv \
          -o config-genesis.batch && \
        sawset proposal create -k /etc/sawtooth/keys/validator.priv \
          sawtooth.consensus.min_wait_time=0 \
          sawtooth.consensus.max_wait_time=0 \
          -o consensus-settings.batch && \
        sawadm genesis config-genesis.batch consensus-settings.batch && \
        sawtooth-validator -v \
          --scheduler parallel \
          --endpoint tcp://validator:8800 \
          --bind component:tcp://eth0:4004 \
          --bind consensus:tcp://eth0:5050 \
          --bind network:tcp://eth0:8800 \
        \""
    volumes:
      - /dev/urandom:/dev/random
      - /dev/urandom:/dev/urandom

  postgres:
    image: postgres

  devmode-engine:
    image: hyperledger/sawtooth-devmode-engine-rust:1.1
    depends_on:
      - validator
    entrypoint: devmode-engine-rust -C tcp://validator:5050
    volumes:
      - /dev/urandom:/dev/random
      - /dev/urandom:/dev/urandom

  rest-api:
    image: hyperledger/sawtooth-rest-api:1.1
    expose:
      - 8008
    ports:
      - "8008:8008"
    depends_on:
      - validator
    entrypoint: sawtooth-rest-api  --connect tcp://validator:4004 --bind rest-api:8008
    volumes:
      - /dev/urandom:/dev/random
      - /dev/urandom:/dev/urandom

  daml-tp:
    image: sawtooth-daml-tp:${ISOLATION_ID}
    command: "/opt/sawtooth-daml-tp/entrypoint.sh tcp://validator:4004"
    depends_on:
      - validator
    volumes:
      - /dev/urandom:/dev/random
      - /dev/urandom:/dev/urandom

  daml-rpc:
    image: sawtooth-daml-rpc:${ISOLATION_ID}
    expose:
      - 9000
      - 5051
    ports:
      - "9000:9000"
      - "5051:5051"
    entrypoint: "bash -c \"\
      /opt/sawtooth-daml-rpc/entrypoint.sh --port 9000 \
        --connect tcp://validator:4004 \
        --jdbc-url jdbc:postgresql://postgres/postgres?user=postgres \
        --participant-id test-participant \
        `ls /opt/sawtooth-daml-rpc/dar/*.dar`\""
    volumes:
      - /dev/urandom:/dev/random
      - /dev/urandom:/dev/urandom
      - ../test-dars:/opt/sawtooth-daml-rpc/dar/
    depends_on:
      - validator
      - postgres

  timekeeper:
    image: timekeeper:${ISOLATION_ID}
    command: "/opt/timekeeper/entrypoint.sh tcp://validator:4004"
    depends_on:
      - validator
    volumes:
      - /dev/urandom:/dev/random
      - /dev/urandom:/dev/urandom

  # Run the integration tests at most twice to compensate for "piming the pump"
  ledger-api-testtool:
    image: ledger-api-testtool:${ISOLATION_ID}
    # LotsOfPartiesIT - excluded since tests in there doesn't respect the concurrent runs, and just
    #                   blast a ton of concurrent requests, which though they get processes, cannot currently(possibly)
    #                   be processed in time to pass
    # PartyManagementServiceIT - Currently returning INTERNAL: None.get on some tests
    # PackageManagementService - test appears to fail because of overly ambitious concurrency goals
    # TimeIT - this is never going to pass on daml-on-sawtooth, since it is testing for a testing feature we don't
    #          support (setting time)
    # TransactionServiceIT - not clear why this fails, certain tests report "RESOURCE_EXHAUSTED" and thats all we get so
    #                        far
    entrypoint: "bash -xc \"\
      sleep 60 && \
      java -jar ledger-api-test-tool.jar \
        --timeout-scale-factor 4 \
        --all-tests \
        --exclude TimeIT,TransactionServiceIT \
        --concurrent-test-runs 1 \
        daml-rpc:9000 \
        || \
      java -jar ledger-api-test-tool.jar \
        --timeout-scale-factor 4 \
        --all-tests \
        --exclude TimeIT,TransactionServiceIT \
        --concurrent-test-runs 1 \
        daml-rpc:9000 \
        || \
      java -jar ledger-api-test-tool.jar \
        --timeout-scale-factor 4 \
        --all-tests \
        --exclude TimeIT,TransactionServiceIT \
        --concurrent-test-runs 1 \
        daml-rpc:9000 \
        || \
      java -jar ledger-api-test-tool.jar \
        --timeout-scale-factor 4 \
        --all-tests \
        --exclude TimeIT,TransactionServiceIT \
        --concurrent-test-runs 1 \
        daml-rpc:9000 \
        \""
    depends_on:
      - daml-rpc
    volumes:
      - /dev/urandom:/dev/random
      - /dev/urandom:/dev/urandom
